

.box-1{
    padding: 40px;
}

.container{
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 50%;
    
}

.box-1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: rgb(67, 154, 247);
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: auto;
    width: 50%;
}

.box-1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    margin: auto;
    width: 30%;
    padding: 10px;
} 



