{box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body {
  margin:20;
  padding:0;
  color: rgb(0, 0, 0);
}

img {
  max-width:100%;
}

a {
   text-decoration:solid;
  }

header {
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  width:100%;
  padding: 50px 0px 40 0px;
  position:fixed;
  }

header h1 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 58px ;
text-align:left;
}


nav {
  width: 100%
  display:fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav ul { 
  list-style:none;
  display:flex;
  justify-content: center;
  align-items:normal;
  margin:10;
  padding: 0%;
}
nav li {
  box-sizing:border-box; 
  flex: 10;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.5s;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.full-screen-section:nth-child(1) {
  background-color: white;
}

.full-screen-section:nth-child(2) {
  background-color: white;
}

.full-screen-section:nth-child(3) {
  background-color: #white;
}

.full-screen-section:nth-child(4) {
  background-color: white;
}


nav li a {
  color: rgb(255, 255, 255);
}

nav li:nth-child(1) {
  background-color: rgb(202, 100, 100);
}

nav li:nth-child(2) {
  background-color: rgb(215, 216, 104);
  
}

nav li:nth-child(3) {
  background-color: rgb(140, 237, 172);
}

nav li:nth-child(4) {
  background-color: rgb(151, 125, 236);
}


.border {
  border: 10px solid black;
}

.flexbox {
  display:flex;
  width:60%;
  margin:auto;
  margin-top:30px;
}
.flexbox .left {
  flex:70%;
  padding-top: 100px;
}
.flexbox .right {
  flex:;
  padding: 50;
  margin:auto;
  padding-top: 0px;
}


.full-screen-section {
  scroll-snap-align: start;
  padding: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.nav-box {
  box-sizing:content-box;
  padding: 19px 150px; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration:none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
